/* Estilos CSS */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-img {
  display: block;
  margin: 0 auto 20px;
  width: 200px;
  height: 200px;
  border-radius: 20%;
  object-fit: cover;
}

.introduction-data {
  text-align: center;
  color: #666;
}

.profile-info {
  text-align: center;
  color: #666;
}

.profile-info p {
  margin-bottom: 10px;
}

.section-divider {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
}

.section-title {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}

.section-data {
  text-align: center;
  color: #666;
}

.hotel-data {
  text-align: center;
  color: #666;
}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}

.slide {
  display: none;
  width: 100%;
}
