/* Estilos CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .profile-img {
    display: block;
    margin: 0 auto 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile-info {
    text-align: center;
    color: #666;
  }
  
  .profile-info p {
    margin-bottom: 10px;
  }
  
  .section-divider {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }
  
  .section-title {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
  }
  
  .section-data {
    text-align: center;
    color: #666;
  }
  
  .slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
  }
  
  .slide {
    display: none;
    width: 100%;
  }
  